:root {
    --background: #FF7979;
    --button-2: #38CC8B;
    --button-1: #5E54A4;
    --form-letters-color: #3D3B48;
    --secondary-color: #BAB7D4;
    --main-color: #FFFFFF;
    --main-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    border: 0;

	padding: 0;
}

body {
    background: url("mobile.png");
    background-color: var(--background);
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--main-color);
}

.call {
    text-align: center;
}

.call__title {
    font-size: 28px;
    font-weight: 700;
    margin: 88px 0 30px 0;
}

.call__txt {
    font-weight: 500;
    padding: 0 1em 2em 1em;
    line-height: 26px;
}

.trial {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
}

.trial__try-button {
    background-color: var(--button-1);
    padding: 2em 3em;
    margin: 0 1em;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    border: none;
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.trial__try-button span {
    font-weight: 700;
}

.trial__form {
    background: var(--main-color);
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    padding: 30px;
    margin: 26px 16px; 
}

.trial__control {
    position: relative;
}

.trial__control i {
    position: absolute;
    right: 8px;
    top: 16px;
    display: none;
}

.trial__control p.trial__error-txt {
    font-size: 11px;
    color: var(--background);
    font-style: italic;
    position: absolute;
    right: 16px;
    top: 50px;
    display: none;
}

.trial__control p.trial__error-email {
    font-size: 14px;
    color: var(--background);
    font-weight: 600;
    position: absolute;
    left: 27px;
    top: 3px;
    display: none;
}

.trial__control.error input {
    border-color: var(--background);
    margin-bottom: 35px;
}

.trial__control.success input {
    border-color: var(--button-2);
}

.trial__control.error i.image-error,
.trial__control.success i.image-success,
.trial__control.error p {
    display: block;
}


.trial__input {
    padding: 1.2em;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    color: var(--form-letters-color);
    display: block; 
    margin: 20px auto;
    width: 100%;
}

.trial__input:focus {
    outline: 1px solid var(--button-1);
}

.trial__input::placeholder {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    color: var(--form-letters-color);
    mix-blend-mode: normal;
    opacity: 0.75;
}

.trial__control.error .trial__input::placeholder {
    visibility: hidden;
}

.trial__claim-button {
    background: var(--button-2);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 1.8em;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 15px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.trial__txt {
    font-size: 11px;
    color: var(--secondary-color);
    line-height: 21px;
    text-align: center;
    padding: 0 3em;
}

.trial__txt span {
    color: var(--background);
    font-weight: 700;
}

/* ============== Media Queries ============== */

@media screen and (min-width: 1200px) {
    .body {
        background: url(desktop.png);
    }

    .container {
        display: flex;
        margin: 121px 136px;
        align-items: center;
    }

    .call {
        width: 50%;
        text-align: left;
    }

    .call__title {
        font-size: 50px;
        line-height: 55px;
        margin: -28px 0 30px 0;
    }   

    .call__txt {
       padding: 0;
       margin-right: 2em;

    }

    .trial {
        margin: 0;
        max-width: 540px;
    }

    .trial__try-button {
        padding: 1.3em;
        width: 100%;
    }

    .trial__form {
        width: 100%;
        padding: 21px 40px 30px 40px;
    }

    .trial__input {
        padding: 1.2em 2em;
    }

    .trial__claim-button {
        padding: 1.2em 3em;
    }
}
